* {
    background-color: blanchedalmond;
}

img {
    max-width: 200px;
    max-height: 200px;
}

.d-flex {
    display:flex
}

.align-top {
    align-items: top;
}

.space-evenly {
    justify-content: space-between;
    margin-right: 65%;
}

.border-none {
    border-collapse: collapse;
    border: none;
}

.border-none td, th {
    border: 1px solid black;
}

.border-none tr:first-child th {
    border-top: none;
}

.border-none tr:last-child td {
    border-bottom: none;
}

.border-none tr td:first-child, .border-none tr th:first-child {
    border-left: none;
}

.border-none tr td:last-child, .border-none tr th:last-child{
    border-right: none;
}

.img-resize {
    max-height: 100px;
    max-width: 100px;
    margin-left: 2%;
}

.iblock {
    display: inline-block;
}

.underline {
    text-decoration: underline;
    color: blue;
}

textarea {
    resize: none;
}

.space {
    margin-top: 10px;
}

.removebullet {
    list-style-type: none;
}

.iconsize {
    height: 25px;
    width: 25px;
}

.basic-padding {
    padding: 10px;
}